/* template css >> general formats */

:root{
    --light-color: #ffc108;
    ---dark-color: #212529;
    --white-color:#fff;
}
/* fonts */
body{
    font-family: "Roboto", sans-serif;
}
.logo-font{
    font-family: "Rock Salt", cursive;
}
.bold-100{
    font-weight: 100;
}
.bold-200{
    font-weight: 200;
}
.bold-300{
    font-weight: 300;
}
.bold-400{
    font-weight: 400;
}
.bold-500{
    font-weight: 500;
}
.bold-600{
    font-weight: 600;
}
.bold-700{
    font-weight: 700;
}
.bold-800{
    font-weight: 800;
}
.bold-900{
    font-weight: 900;
}
/* colors */
.light-color{
    color: #ffc108;
}
.dark-color{
    color: #212529;
}
.bg-dark-color{
    color: #212529;
}
.bg-light-color{
    color: #ffc108;
}
/* buttons */
.btn-shape-border{
    border-radius: 0;
}
.btn-book:hover{
    background-color: transparent;
    color: #ffc108;
}
.btn-book-reserve{
    border: 1px solid var(--light-color);
}
.btn-book-reserve:hover{
    background-color: var(---dark-color);
    color: #ffc108;
}
/* a link */
a{
    text-decoration: none;
}
/* list */
li{
    list-style-type: none;
}

/* special css */
/* header */
header{
    background:linear-gradient(rgba(15,23,43,0.9),(rgba(15,23,43,0.9),url(../assets/images/restoran-7.jpg)));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* header >> carousel >> image >> img */
header .carousel .image img{
    animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate {
    100%{
        transform: rotate(360deg);
    }
}
/* header >> nav >> nav-link */
header nav .nav-link:hover{
    color: #ffc108;
}

/* service */
/* service >> card */
.service .card{
    border-radius: 0;
    transition: 0.5s;
}
.service .card:hover{
    background-color: var(--light-color);
}
/* service >> card >> span */
.service .card span{
    display: block;
    transition: 0.5s;
}
.service .card svg{
    transition: 0.5s;
}
.service .card span:hover{
    transform: scale3d(1.1,1.1,1.1);
}
.service .card:hover span,
.service .card:hover svg{
    color: var(--white-color);
}

/* about */
/* about >> grid >> img */
.about .grid .col-img{
    position: relative;
    overflow: hidden;
}
.about .grid .col-img:hover::before{
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255,0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* menu */
/* menu >> tab-content >> img */
.menu .tab-content img{
    height: 100px;
    width: 125px;
}

/* book */
.book .video{
    border: 1px solid var(---dark-color);
}
/* book >> video >> iframe */
.book .video iframe{
    height: 700px;
}
/* book >> form >> comment */
.book .form .comment textarea{
    height: 100px;
}

/* footer-links */
/* footer-links >> btn-animation */
.footer-links .btn-animation{
    transform: scale3d(1,1,1);
    transition: 0.5s;
}
.footer-links .btn-animation:hover{
    transform: scale3d(1.1,1.1,1.1);
}
/* arrow */
/* arrow > btn-arrow */
.arrow .btn-arrow{
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    transition: 0.5s;
}
.arrow .btn-arrow:hover{
    background-color: transparent;
}
/* arrow >> svg */
.arrow .btn-arrow svg{
    color: var(---dark-color);
    transition: 0.5s;
}
.arrow .btn-arrow:hover svg{
    color: var(--light-color);
}