/* public css */
body{
    background-color: #f7f8fc;
    font-family: "Ubuntu", serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.dark-color{
    color: #616060;
}
.light-color{
    color: #e89b2e;
}
.bg-dark-color{
    color: #616060;
}
.bg-light-color{
    color: #e89b2e;
}
.f-small{
    font-size: 12px;
}

/* private css */
/* nav */
nav{
    background-color: #f7f8fc;
}
/* nav >> links */
.navbar-nav .nav-active:hover{
    color: #616060;
}
.navbar-nav a:hover{
    color: #e89b2e;
}
/* nav >> services */
.services svg:hover{
    color: #e89b2e;
}

/* header */
/* header >> slide */
header .slide svg:hover{
    color: #e89b2e;
}
/* header >> slide >> carousel-inner >> add-info */
header .carousel-inner .add-info a.add-cart{
    padding: 17px 25px;
    background-color: #e89b2e;
    border: 1px solid #e89b2e;
    color: #f7f8fc;
}
header .carousel-inner .add-info a.add-cart:hover{
    background-color: #f7f8fc;
    color: #e89b2e;
}
header .carousel-inner .add-info a.more-info{
    padding: 17px 35px;
    background-color: #f7f8fc;
    border: 1px solid #f7f8fc;
    color: #e89b2e;
}
header .carousel-inner .add-info a.more-info:hover{
    border: 1px solid #e89b2e;
}

/* discover more */
/* discover more >> card */
.discover-more .card{
    background-color: #ffffff;
}
/* discover more >> card >> card-body */
.discover-more .card .card-body a.discover-btn{
    border:1px solid #585858;
    padding: 12px 20px;
    color: #585858;
    background-color: transparent;
    transition: 0.5s;
}
.discover-more .card .card-body a.discover-btn:hover{
    border:1px solid #585858;
    color: #f7f8fc;
    background-color: #585858;
}

/* new arrival */
.arrival .card{
    background-color: #a7a7a7;
}
/* new arrival >> card >> sale on image */
.arrival .card .sale{
    background-color: #e89b2e;
}
/* new arrival >> card >> img */
.arrival .card img{
    transform: scale(0.65,0.65);
    transition: 0.5s;
}
.arrival .card img::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f3f3f;
}
.arrival .card:hover img{
    transform: scale(0.85,0.85);
}
/* new arrival >> card >> card-body */
.arrival .card .card-body{
    opacity: 0;
    transition: 0.5s;
    height: 0;
}
.arrival .card:hover .card-body{
    opacity: 1;
}
/* new arrival >> card >> card-footer */
.arrival .card:hover .txt{
    color: #e89b2e;
}
