/* general css */
:root{
    --master-color: #fff;
    --clients-color: #f7f8fc;
    --light-color:#e89b2e;
    --dark-color:#616060;
    --bg-light-color:#e89b2e;
    --bg-dark-color:#616060;
    --f-mid:15px;
    --f-small: 12px;
    --f-smaller:10px;
}
body{
    background-color: var(--master-color);
    font-family: "Ubuntu", serif;
}
section{
    margin: 75px 0;
}
.card{
    border-radius: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clients-color{
    color: var(--clients-color);
}
.dark-color{
    color: var(--dark-color);
}
.light-color{
    color: var(--light-color);
}
.bg-dark-color{
    color: var(--bg-dark-color);
}
.bg-light-color{
    color: var(--bg-light-color)
}
.bg-clients-color{
    background-color: var(--clients-color);
}
.f-mid{
    font-size: var(--f-mid);
}
.f-small{
    font-size: var(--f-small);
}
.f-smaller{
    font-size: var(--f-smaller);
}
/* ########################################################### */

/* special css */
/* nav >> navbar-nav */
nav .navbar-nav a.first-link{
    color: var(--light-color);
}
nav .navbar-nav a.first-link:hover{
    color: var(--dark-color);
}
nav .navbar-nav a{
    color: var(--dark-color);
    transition: 0.5s;
    font-weight: 600;
}
nav .navbar-nav a:hover{
    color: var(--light-color);
}
/* ########################################################### */

/* section:header */
/* header >> slider */
header .slider{
    background-color: var(--bg-light-color);
    width: 100%;
    height:750px;
}
/* ########################################################### */

/* section:discover */
/* discover >> card */
.discover .card{
    border-radius: 0;
    background-color:var(--clients-color);
}
.discover .card .btn{
    border-radius: 0;
}
/* ########################################################### */

/* section:arrival */
/* arrival >> card */
.arrival .card{
    padding: 0 10px;
}
/* arrival >> card-img */
.arrival .card-img{
    padding: 70px 10px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    background-color:var(--clients-color);
}
/* arrival >> card-img >> before */
.arrival .card-img .before{
    height: 150px;
}
.arrival .card-img .before::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.arrival .card-img .before:hover::before{
    background-color: rgb(236, 236, 236,0.5);
}
.arrival .card-img .before::after{
    position: absolute;
    content: "Sale";
    color: var(--master-color);
    top: 10px;
    right: 0;
    width: 80px;
    padding: 5px 0;
    background-color:var(--bg-light-color);
}
/* arrival >> card-img >> before >> img */
.arrival .card-img img{
    transform: scale(0.75,0.75);
    transition: 0.5s;
}
.arrival .card-img:hover img{
    transform: scale(0.9,0.9);
}
/* arrival >> card-img >> before >> img-body */
.arrival .card-img .before .img-body{
    padding: 10px 10px;
    color: var(--master-color);
    background-color: var(--bg-dark-color);
    font-size: 12px;
    opacity: 0;
    transition: 0.5s;
}
.arrival .card-img .before:hover .img-body{
    opacity: 1;
}
.arrival .card-img .before .img-body a{
    color: var(--master-color);
}
/* ########################################################### */

/* section:colection */
.collection{
    background-image: url('../assets/images/collection/table-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-dark-color);
    width: 100%;
    height: auto;
    padding: 150px 0;
}
/* collection >> btn-view */
.collection .btn-view{
    background-color: var(--bg-light-color);
    border-radius: 0;
    color: var(--master-color);
    border: 2px solid var(--bg-light-color);
    padding: 10px 20px;
}
.collection .btn-view:hover{
    border: 2px solid var(--bg-light-color);
    background-color: transparent;
    color: var(--dark-color);
}
/* ########################################################### */

/* section:products */
/* products >> card */
.products .card{
    background-color: transparent;
}
/* ########################################################### */

/* section:blog */
/* blog >> card */
.blog .card{
    background-color: transparent;
}
/* ########################################################### */

/* section:footer-links */
.footer-links{
    padding: 100px 0;
}
/* footer-links >> li */
.footer-links li{
    padding: 5px 0;
}
/* footer-links >> li >> a*/
.footer-links li a:hover{
    color: var(--light-color);
}
/* footer-links >> newsletter >> in-mail */
.footer-links .in-mail{
    width: 80%;
    padding: 10px 0px 10px 5px;
    box-shadow: 0px 6px 15px 0px var(--bg-dark-color);
}
.footer-links .in-mail input:focus{
    border: 0px;
}
/* ########################################################### */

/* div:arrow */
.arrow{
    bottom: 25px;
    right: 35px;
}
.arrow a svg{
    color: var(--dark-color);
}
.arrow a svg:hover{
    color: var(--light-color);
}